* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sora;
}
body {
  background-color: #eee;
}

/* --------------------------------------------------------------------- */

header {
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  padding: 0 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header p,
nav a {
  transition: all 0.3s ease 0s;
  font-family: Sora;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}
nav a:hover {
  color: rgba(0, 0, 0, 0.4);
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  margin: 20px;
}

.menu-button {
  display: none;
}
/* --------------------------------------------------------------------- */
section .fontText {
  font-family: Sora;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: #000000;
}

a .social_media {
  padding: 16px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid black;
}

a .social_media:hover {
  background: #000000;
  transition: 0.5s;
  color: #fff;
}
section.mySkills div.boxSkills {
  width: 186px;
  height: 186px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
section.mySkills div .textSkills {
  font-family: Sora;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}
section.mySkills div.boxSkills:hover {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
}
section.mySkills div.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 55px;
  justify-content: center;
}
/* --------------------------------------------------------------------- */

section.myExperience .container {
  border-radius: 10px;
  border: 1px solid #27272a;
  margin-bottom: 50px;
  padding: 15px;
  text-align: center;
  width: 90%;
}
section.myExperience .container:hover {
  background: #27272a;
  transition: 0.5s;
  cursor: pointer;
}
section.myExperience .headerExDate {
  font-family: Sora;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #d4d4d8;
  padding-left: 15px;
  line-height: 30px;
}
section.myExperience .headerExText {
  display: flex;
  flex: 1;
  font-family: Sora;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
}
/* --------------------------------------------------------------------- */

section.aboutMe {
  display: flex;
  padding: 0 5%;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

section.aboutMe .TextAboutMe {
  font-family: Sora;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #71717a;
  padding-bottom: 20px;
}
/* --------------------------------------------------------------------- */
section.myProjects {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  padding-bottom: 40px;
  justify-content: center;
}

section.myProjects .container {
  display: flex;
  gap: 40px;
  justify-content: center;
}
section.myProjects .font1 {
  font-family: Sora;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
section.myProjects .font2 {
  font-family: Sora;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff;
}
section .font3 {
  font-family: Sora;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #71717a;
}
/* --------------------------------------------------------------------- */
.certificate {
  width: 270px;
  height: 186px;
  border: 2px solid black;
}

.wrapper:hover {
  transition: 0.4s;
  transform: scale(1.1);
  cursor: pointer;
}
.effect {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 190px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}

.wrapper {
  position: relative;
}
.effect:hover {
  opacity: 1;
}
.effect > * {
  transform: translateY(25px);
  transition: transform 0.7s;
}
.effect:hover > * {
  transform: translateY(0px);
}

.effect h4 {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: cursive;
}
/* --------------------------------------------------------------------- */
section.contactMe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}
section.contactMe .text {
  font-family: Sora;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.02em;
  color: #000000;
}

section.contactMe .container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.contactMe input,
textarea {
  font-family: Sora;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #71717a;
  padding: 15px;
  border: #000000 1px solid;
  border-radius: 5px;
}

section.contactMe button {
  font-family: Sora;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fff;
  padding: 14px;
  border: #444 1px solid;
  border-radius: 5px;
  background: linear-gradient(160deg, #666, #444);
}
section.contactMe button:hover {
  color: #fff;
  background: linear-gradient(160deg, #666, #444);
  text-shadow: 0px 0px 4px #ccc;
  box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  transition-delay: 0.1s;
  cursor: pointer;
}

/* --------------------------------------------------------------------- */
footer {
  height: 100px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
footer .text1 {
  font-family: Sora;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: capitalize;
  color: #ffffff;
}

footer .text2 {
  font-family: Sora;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-align: center;
  line-height: 22px;
}
section.intro .paragraph {
  line-height: 36px;
}

@media (max-width: 1300px) {
  .intro {
    font-size: 40px;
  }
  section.intro .paragraph {
    line-height: 70px;
    font-size: 20px;
  }
}

@media (min-width: 3000px) {
  section.intro .fontText {
    font-size: calc(20px * 6);
    line-height: calc(56px * 3);
  }
  section.intro a {
    font-size: 40px;
  }
  section.intro .social_media {
    border-radius: 16px;
  }
  section.intro i {
    padding: 40px;
  }
  section.intro .paragraph {
    font-size: 40px;
    width: calc(700px * 2);
    line-height: 80px;
  }
  section.intro img,
  section.aboutMe img {
    width: calc(700px * 2);
  }
  .container_Nav li {
    padding: 16px 24px;
  }
  .textStyle {
    font-size: 50px;
  }
  .container_Nav img {
    height: 60px;
    width: 40px;
  }
  .container_Nav button p {
    font-size: 60px;
  }
  .container_Nav button {
    height: 90px;
  }
}



@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}